<h2 id="title">Feature List</h2>
{{esri-map registerAs=esriMap}}
<h2>Assignments</h2>

<table>
  <tbody>
    {{#each assignments as |assignment|}}
    <tr class='assignment-row' {{action 'zoomTo' assignment}}>
      <td>
        {{#if assignment.symbolUrl}}
          <img src={{assignment.symbolUrl}}>
        {{/if}}
      </td>
      <td>
        {{assignment.type}}
        {{assignment.location}}
      </td>      
      <td>
        {{assignment.priority}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>